@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,700&display=swap");

:root {
    --fondo: rgb(173, 255, 250, 0.3);
    --figura: #21272c;
    --titulo: #03ddcf;
    --destacado: #d4f739;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 400%;
    color: var(--titulo);
}

p {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
}

body {
    font-family: "IBM Plex Mono", monospace;
    background: var(--fondo);
    color: var(--figura);
}

a {
    font-weight: 400;
    color: var(--figura);
    text-decoration: none;
}

a:hover {
    color: var(--destacado);
}

header {
    color: var(--figura);
}

main {
    background: rgba(73, 197, 189, 0.3);
    box-shadow: 0 8px 24px 0 rgba(73, 197, 189, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
